@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #22245b;
  color: white;
  font-family: "Popins",sans-serif;
  margin: 0;
}

.root {
  flex-direction: column;
  display: flex;
}

header {
  background-color: #373b69;
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
}

.movie-container{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.search {
  background-color: transparent;
  border: 2px solid #22254b;
  border-radius: 50px;
  color: #FFF;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;

}

.search:focus{
  outline: 0;
}

.movie {
  background-color:  #373b69;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 300px ;
}

.movie img  {
  object-fit: cover;
  height: 450px;
  width: 100%;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.movie-info h3 {
  margin: 0;
}

.movie-over {
  background-color: #fff;
  color: #22245b;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  transform: translateY(102%);
  transition: transform 0.5s ease-in-out;
}
 
.movie:hover .movie-over {
  transform: translateY(0%);
}

.tag {
  background-color: #22254b;
  border-radius: 5px;
  font-weight: bold;
  padding: 0.5rem;
}

.tag.green {
  color: green;
}
.tag.orange {
  color: orange;
}
.tag.red {
  color: red;
}